<a href="https://colab.research.google.com/github/jocelynbaduria/Assignment-5_part_abcd/blob/main/Jocelyn_Baduria_cmpe258_Assignment5c.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### C. PyTorch Model(rmse=)

Load data from Github

In [3]:
!wget https://raw.githubusercontent.com/tensorflow/tfx/master/tfx/examples/chicago_taxi_pipeline/data/simple/data.csv

--2021-04-25 20:21:25--  https://raw.githubusercontent.com/tensorflow/tfx/master/tfx/examples/chicago_taxi_pipeline/data/simple/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1922812 (1.8M) [text/plain]
Saving to: ‘data.csv.1’

data.csv.1          100%[===================>]   1.83M  --.-KB/s    in 0.1s

2021-04-25 20:21:26 (17.4 MB/s) - ‘data.csv.1’ saved [1922812/1922812]

Import Libraries

In [4]:
# Load the TensorBoard notebook extension
# %load_ext tensorboard

#PyTorch 
import tensorflow as tf
import torch
import torch.nn as nn
from torch.utils.data import Dataset, DataLoader
import torch.optim as torch_optim
from torchvision import models
from torch.nn import init
import torch.optim as optim
from torch.autograd import Variable
import torch.nn.functional as F
from torch.utils import data
from torch.optim import lr_scheduler

#sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing


#other
from IPython.core.debugger import set_trace
import pandas as pd
import numpy as np
from collections import Counter
from datetime import datetime
import math 
from google.colab import files
import io
import datetime as dt
import re
import pandas_profiling
import pandas_profiling as pp
from math import sqrt

#graphs
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import matplotlib.dates as mdates
import matplotlib.cbook as cbook
import pylab as plt
import matplotlib.dates as dates
import seaborn as sns
import pylab
import matplotlib
import matplotlib.dates
from IPython.display import display
import plotly.graph_objects as go


%matplotlib inline
print(tf.__version__)

2.4.1

In [5]:
!nvidia-smi

Sun Apr 25 20:21:37 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 465.19.01    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla K80           Off  | 00000000:00:04.0 Off |                    0 |
| N/A   49C    P8    27W / 149W |      0MiB / 11441MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [6]:
import torch
torch.cuda.is_available()

True

In [7]:
import tensorflow as tf
tf.test.gpu_device_name()

'/device:GPU:0'

In [8]:
# load tqdm
# !pip install --force https://github.com/chengs/tqdm/archive/colab.zip
from tqdm import tqdm, tqdm_notebook, tnrange

# Please use `tqdm.notebook.trange` instead of `tqdm.tnrange`
# Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`


device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")
device

device(type='cuda', index=0)

In [9]:
taxi_data = pd.read_csv('/content/data.csv')
taxi_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15002 entries, 0 to 15001
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   pickup_community_area   15000 non-null  float64
 1   fare                    15002 non-null  float64
 2   trip_start_month        15002 non-null  int64
 3   trip_start_hour         15002 non-null  int64
 4   trip_start_day          15002 non-null  int64
 5   trip_start_timestamp    15002 non-null  int64
 6   pickup_latitude         15000 non-null  float64
 7   pickup_longitude        15000 non-null  float64
 8   dropoff_latitude        14519 non-null  float64
 9   dropoff_longitude       14519 non-null  float64
 10  trip_miles              15002 non-null  float64
 11  pickup_census_tract     1 non-null      float64
 12  dropoff_census_tract    10761 non-null  float64
 13  payment_type            15002 non-null  object
 14  company                 9862 non-null   object
 15  trip_seconds            14996 non-null  float64
 16  dropoff_community_area  14495 non-null  float64
 17  tips                    15002 non-null  float64
dtypes: float64(12), int64(4), object(2)
memory usage: 2.1+ MB

Data - Preprocessing

In [10]:
taxi_data.head()

   pickup_community_area   fare  ...  dropoff_community_area  tips
0                    NaN  12.45  ...                     NaN   0.0
1                    NaN   0.00  ...                     NaN   0.0
2                   60.0  27.05  ...                     NaN   0.0
3                   10.0   5.85  ...                     NaN   0.0
4                   14.0  16.65  ...                     NaN   0.0

[5 rows x 18 columns]

In [11]:
# Get the count, mean and stdev, min, max, quantile values
taxi_data.describe()

       pickup_community_area  ...          tips
count           15000.000000  ...  15002.000000
mean               22.250267  ...      1.076674
std                19.414828  ...      2.158340
min                 1.000000  ...      0.000000
25%                 8.000000  ...      0.000000
50%                 8.000000  ...      0.000000
75%                32.000000  ...      2.000000
max                77.000000  ...     47.000000

[8 rows x 16 columns]

In [12]:
##Get unique count for each column
taxi_data.nunique()

pickup_community_area        62
fare                        423
trip_start_month             12
trip_start_hour              24
trip_start_day                7
trip_start_timestamp      13789
pickup_latitude             236
pickup_longitude            236
dropoff_latitude            291
dropoff_longitude           291
trip_miles                  530
pickup_census_tract           1
dropoff_census_tract        229
payment_type                  7
company                      61
trip_seconds                110
dropoff_community_area       69
tips                        462
dtype: int64

In [13]:
taxi_data = taxi_data.drop(['trip_start_timestamp','trip_miles','pickup_census_tract','dropoff_census_tract','trip_seconds','payment_type','tips', 
              'company','dropoff_community_area','pickup_community_area'], axis=1)
taxi_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15002 entries, 0 to 15001
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fare               15002 non-null  float64
 1   trip_start_month   15002 non-null  int64
 2   trip_start_hour    15002 non-null  int64
 3   trip_start_day     15002 non-null  int64
 4   pickup_latitude    15000 non-null  float64
 5   pickup_longitude   15000 non-null  float64
 6   dropoff_latitude   14519 non-null  float64
 7   dropoff_longitude  14519 non-null  float64
dtypes: float64(5), int64(3)
memory usage: 937.8 KB

In [14]:
#Drop rows with N/A 
taxi_data = taxi_data.dropna()

#Drop the rows where FARE > 200( only 1 row found )
taxi_data = taxi_data.drop(taxi_data[taxi_data['fare'] > 200].index)

#Change the datatype of month, hour day feature to string 
taxi_data['trip_start_month'] = taxi_data['trip_start_month'].astype('str')
taxi_data['trip_start_hour'] = taxi_data['trip_start_hour'].astype('str')
taxi_data['trip_start_day'] = taxi_data['trip_start_day'].astype('str')
taxi_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14518 entries, 28 to 15000
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fare               14518 non-null  float64
 1   trip_start_month   14518 non-null  object
 2   trip_start_hour    14518 non-null  object
 3   trip_start_day     14518 non-null  object
 4   pickup_latitude    14518 non-null  float64
 5   pickup_longitude   14518 non-null  float64
 6   dropoff_latitude   14518 non-null  float64
 7   dropoff_longitude  14518 non-null  float64
dtypes: float64(5), object(3)
memory usage: 1020.8+ KB

Prepare Train test split sample from Original Taxi dataset

In [15]:
np.random.seed(seed=2)
sample = np.random.rand(len(taxi_data)) < 0.9
traindf = taxi_data[sample]
testdf = taxi_data[~sample]

print(len(traindf))
print(len(testdf))

traindf.to_csv("train.csv", index=False, header=True)
testdf.to_csv("test.csv", index=False, header=True)

13076
1442

In [16]:
train_X = pd.read_csv('/content/train.csv')
test_X = pd.read_csv('/content/test.csv')

Feature Engineering:

Distance Computation Using Latitude and Longitude Between 2 sets of GPS coordinates in taxi data

In [17]:
# Calculate the Distance
def haversine_distance(df, lat1, long1, lat2, long2):

    r = 6371  # average radius of Earth in kilometers
       
    pi_1 = np.radians(df[lat1])
    pi_2 = np.radians(df[lat2])
    
    delta_pi = np.radians(df[lat2]-df[lat1])
    delta_lambda = np.radians(df[long2]-df[long1])
     
    a = np.sin(delta_pi/2)**2 + np.cos(pi_1) * np.cos(pi_2) * np.sin(delta_lambda/2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    d = (r * c) # in kilometers

    return d

In [18]:
train_X.head()

    fare  trip_start_month  ...  dropoff_latitude  dropoff_longitude
0  12.25                10  ...         41.920452         -87.679955
1   3.85                 3  ...         41.920452         -87.679955
2   6.05                 8  ...         41.920452         -87.679955
3   7.25                10  ...         41.920452         -87.679955
4   7.85                11  ...         41.849247         -87.624135

[5 rows x 8 columns]

In [19]:
test_X.head()

    fare  trip_start_month  ...  dropoff_latitude  dropoff_longitude
0   9.05                 2  ...         41.957736         -87.683718
1   9.65                 4  ...         41.892042         -87.631864
2   5.85                 1  ...         41.892042         -87.631864
3  10.65                 6  ...         41.892042         -87.631864
4  17.64                 6  ...         41.878866         -87.625192

[5 rows x 8 columns]

In [20]:
Y = np.log(train_X.fare)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:726: RuntimeWarning:

divide by zero encountered in log

In [21]:
Y

0        2.505526
1        1.348073
2        1.800058
3        1.981001
4        2.060514
           ...
13071    1.238374
13072    1.178655
13073    1.178655
13074    1.446919
13075    2.287471
Name: fare, Length: 13076, dtype: float64

In [22]:
df = train_X.append(test_X,sort=False)

In [23]:
# Using Havesian distance instead of Euclidean distance
df['dist_km'] = haversine_distance(df,'pickup_latitude', 'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude')
df.head()

    fare  trip_start_month  ...  dropoff_longitude   dist_km
0  12.25                10  ...         -87.679955  4.223525
1   3.85                 3  ...         -87.679955  2.457759
2   6.05                 8  ...         -87.679955  1.649418
3   7.25                10  ...         -87.679955  1.953926
4   7.85                11  ...         -87.624135  2.494392

[5 rows x 9 columns]

In [24]:
train_X = df.drop(columns=['fare'])

In [25]:
train_X

      trip_start_month  trip_start_hour  ...  dropoff_longitude   dist_km
0                   10                1  ...         -87.679955  4.223525
1                    3               15  ...         -87.679955  2.457759
2                    8               23  ...         -87.679955  1.649418
3                   10               21  ...         -87.679955  1.953926
4                   11               11  ...         -87.624135  2.494392
...                ...              ...  ...                ...       ...
1437                11               13  ...         -87.628874  2.253018
1438                 3                3  ...         -87.656644  4.223414
1439                 4               20  ...         -87.653757  4.626979
1440                 4                1  ...         -87.635760  1.204776
1441                10                9  ...         -87.642959  4.157849

[14518 rows x 8 columns]

Prepare the Dataset for PyTorch DataLoader

In [26]:
cat_cols = ['trip_start_month', 'trip_start_hour', 'trip_start_day']
cont_cols = ['pickup_latitude', 'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude', 'dist_km']

In [27]:
#make the cat categories as "category" and label encoder it.
for col in df.columns:
  if col in cat_cols:
    df[col] = LabelEncoder().fit_transform(df[col])
    df[col]= df[col].astype('category')

In [28]:
df.head()

    fare trip_start_month  ... dropoff_longitude   dist_km
0  12.25                9  ...        -87.679955  4.223525
1   3.85                2  ...        -87.679955  2.457759
2   6.05                7  ...        -87.679955  1.649418
3   7.25                9  ...        -87.679955  1.953926
4   7.85               10  ...        -87.624135  2.494392

[5 rows x 9 columns]

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14518 entries, 0 to 1441
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fare               14518 non-null  float64
 1   trip_start_month   14518 non-null  category
 2   trip_start_hour    14518 non-null  category
 3   trip_start_day     14518 non-null  category
 4   pickup_latitude    14518 non-null  float64
 5   pickup_longitude   14518 non-null  float64
 6   dropoff_latitude   14518 non-null  float64
 7   dropoff_longitude  14518 non-null  float64
 8   dist_km            14518 non-null  float64
dtypes: category(3), float64(6)
memory usage: 838.1 KB

In [29]:
df_train = df[:13076]
df_test = df[13076:]

In [30]:
# Normalizing 

from pandas.api.types import is_numeric_dtype

#"Compute the means and stds of `self.cont_names` columns to normalize them."
def Normalize(df):
  means,stds = {},{}
  cont_names = ['pickup_latitude', 'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude','dist_km']
  for n in cont_names:
    assert is_numeric_dtype(df[n]), (f"""Cannot normalize '{n}' column as it isn't numerical. Are you sure it doesn't belong in the categorical set of columns?""")
    means[n],stds[n] = df[n].mean(),df[n].std()
    df[n] = (df[n]-means[n]) / (1e-7 + stds[n])


Normalize(df_train)
Normalize(df_test)
X = df_train

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Make Sure all the shape size are all the same

In [31]:
X = df_train

In [32]:
X.shape

(13076, 9)

In [33]:
Y.shape

(13076,)

In [34]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13076 entries, 0 to 13075
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fare               13076 non-null  float64
 1   trip_start_month   13076 non-null  category
 2   trip_start_hour    13076 non-null  category
 3   trip_start_day     13076 non-null  category
 4   pickup_latitude    13076 non-null  float64
 5   pickup_longitude   13076 non-null  float64
 6   dropoff_latitude   13076 non-null  float64
 7   dropoff_longitude  13076 non-null  float64
 8   dist_km            13076 non-null  float64
dtypes: category(3), float64(6)
memory usage: 755.0 KB

Normalize

In [36]:
# #Normalizing 
# from sklearn.preprocessing import Normalizer

# # normalize the X
# X = df_train

# transformer = Normalizer().fit(X)
# X = transformer.transform(X)

In [35]:
X_train, X_val, y_train, y_val = train_test_split(X, Y, test_size=0.20, random_state=42,shuffle=True ) 
X_train

        fare trip_start_month  ... dropoff_longitude   dist_km
6821   21.25                3  ...         -0.592770  0.770584
8900    5.65               11  ...          0.377906 -0.733534
10476   6.65               11  ...          0.565302 -0.425732
12538   6.65                6  ...         -0.285299 -0.321676
11335   9.05               11  ...         -0.394989 -0.218230
...      ...              ...  ...               ...       ...
11964   5.05                9  ...          0.409504 -0.541627
5191    4.85                1  ...          0.586216 -0.545002
5390    4.45                1  ...          0.287559 -0.652687
860    21.25                4  ...          0.935499  1.087735
7270   11.85                7  ...          0.568870  0.300422

[10460 rows x 9 columns]

In [36]:
X_train.shape

(10460, 9)

In [37]:
y_train.shape

(10460,)

In [38]:
X_val.shape

(2616, 9)

In [39]:
y_val.shape

(2616,)

#### PyTorch Implementation

Embedding

In [54]:
#df.info()
cat_szs = [len(df[col].cat.categories) for col in cat_cols]
emb_szs = [(size, min(50, (size+1)//2)) for size in cat_szs]
emb_szs

[(12, 6), (24, 12), (7, 4)]

In [58]:
type(emb_szs)

list

In [59]:
class RegressionColumnarDataset(data.Dataset):
    def __init__(self, df, cats, y):
        
        
        self.dfcats = df[cats] #type: pandas.core.frame.DataFrame
        self.dfconts = df.drop(cats, axis=1) #type: pandas.core.frame.DataFrame
        
        
        self.cats = np.stack([c.values for n, c in self.dfcats.items()], axis=1).astype(np.int64) #tpye: numpy.ndarray
        self.conts = np.stack([c.values for n, c in self.dfconts.items()], axis=1).astype(np.float32) #tpye: numpy.ndarray
        self.y = y.values.astype(np.float32)
        
        
    def __len__(self): return len(self.y)

    def __getitem__(self, idx):
        
        return [self.cats[idx], self.conts[idx], self.y[idx]]

In [60]:
trainds = RegressionColumnarDataset(X_train, cat_cols, y_train) #type: __main__.RegressionColumnarDataset
valds = RegressionColumnarDataset(X_val, cat_cols, y_val) #type: __main__.RegressionColumnarDataset

In [61]:
params = {'batch_size': 128,
          'shuffle': True}


traindl = DataLoader(trainds, **params) #type: torch.utils.data.dataloader.DataLoader
valdl = DataLoader(valds, **params) #type: torch.utils.data.dataloader.DataLoader

Tabular Model

In [62]:
# Helper functions

from collections.abc import Iterable


def bn_drop_lin(n_in:int, n_out:int, bn:bool=True, p:float=0., actn=None):
    "Sequence of batchnorm (if `bn`), dropout (with `p`) and linear (`n_in`,`n_out`) layers followed by `actn`."
    layers = [nn.BatchNorm1d(n_in)] if bn else []
    if p != 0: layers.append(nn.Dropout(p))
    layers.append(nn.Linear(n_in, n_out))
    if actn is not None: layers.append(actn)
    return layers

def ifnone(a,b):
    "`a` if `a` is not None, otherwise `b`."
    return b if a is None else a

def listify(p, q):
    "Make `p` listy and the same length as `q`."
    if p is None: p=[]
    elif isinstance(p, str):          p = [p]
    elif not isinstance(p, Iterable): p = [p]
    #Rank 0 tensors in PyTorch are Iterable but don't have a length.
    else:
        try: a = len(p)
        except: p = [p]
    n = q if type(q)==int else len(p) if q is None else len(q)
    if len(p)==1: p = p * n
    assert len(p)==n, f'List len mismatch ({len(p)} vs {n})'
    return list(p)

              

class TabularModel(nn.Module):
    "Basic model for tabular data."
    def __init__(self, emb_szs, n_cont:int, out_sz:int, layers, ps=None,
                 emb_drop:float=0., y_range=None, use_bn:bool=True, bn_final:bool=False):
        super().__init__()
        ps = ifnone(ps, [0]*len(layers))
        ps = listify(ps, layers)
        self.embeds = nn.ModuleList([nn.Embedding(ni, nf) for ni,nf in emb_szs]) #type: torch.nn.modules.container.ModuleList
        self.emb_drop = nn.Dropout(emb_drop) #type: torch.nn.modules.dropout.Dropout
        self.bn_cont = nn.BatchNorm1d(n_cont) #type torch.nn.modules.batchnorm.BatchNorm1d
        n_emb = sum(e.embedding_dim for e in self.embeds) # n_emb = 17 , type: int
        self.n_emb,self.n_cont,self.y_range = n_emb,n_cont,y_range
        sizes = [n_emb + n_cont] + layers + [out_sz] #typeL list, len: 4
        actns = [nn.ReLU(inplace=True) for _ in range(len(sizes)-2)] + [None] #type: list, len: 3.  the last in None because we finish with linear
        layers = []
        for i,(n_in,n_out,dp,act) in enumerate(zip(sizes[:-1],sizes[1:],[0.]+ps,actns)):
            layers += bn_drop_lin(n_in, n_out, bn=use_bn and i!=0, p=dp, actn=act)
        if bn_final: layers.append(nn.BatchNorm1d(sizes[-1]))
        self.layers = nn.Sequential(*layers) #type: torch.nn.modules.container.Sequential
        



    def forward(self, x_cat, x_cont):
        if self.n_emb != 0:
            x = [e(x_cat[:,i]) for i,e in enumerate(self.embeds)] #take the embedding list and grab an embedding and pass in our single row of data.        
            x = torch.cat(x, 1) # concatenate it on dim 1 ## remeber that the len is the batch size
            x = self.emb_drop(x) # pass it through a dropout layer
        if self.n_cont != 0:
            x_cont = self.bn_cont(x_cont) # batchnorm1d
            x = torch.cat([x, x_cont], 1) if self.n_emb != 0 else x_cont # combine the categircal and continous variables on dim 1
        x = self.layers(x)
        if self.y_range is not None:
            x = (self.y_range[1]-self.y_range[0]) * torch.sigmoid(x) + self.y_range[0] # deal with y_range
        return x.squeeze()

In [63]:
torch.manual_seed(33)

In [64]:
y_range = (0, y_train.max()*1.2)
y_range

(0, 5.669142800253904)

In [65]:
model = TabularModel(emb_szs = emb_szs,n_cont = len(cont_cols),out_sz = 1,layers = [1000,500,250],ps= [0.001,0.01,0.01],emb_drop=0.04, y_range=y_range).to(device)
model

TabularModel(
  (embeds): ModuleList(
    (0): Embedding(12, 6)
    (1): Embedding(24, 12)
    (2): Embedding(7, 4)
  )
  (emb_drop): Dropout(p=0.04, inplace=False)
  (bn_cont): BatchNorm1d(5, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (layers): Sequential(
    (0): Linear(in_features=27, out_features=1000, bias=True)
    (1): ReLU(inplace=True)
    (2): BatchNorm1d(1000, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (3): Dropout(p=0.001, inplace=False)
    (4): Linear(in_features=1000, out_features=500, bias=True)
    (5): ReLU(inplace=True)
    (6): BatchNorm1d(500, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (7): Dropout(p=0.01, inplace=False)
    (8): Linear(in_features=500, out_features=250, bias=True)
    (9): ReLU(inplace=True)
    (10): BatchNorm1d(250, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (11): Dropout(p=0.01, inplace=False)
    (12): Linear(in_features=250, out_features=1, bias=True)
  )
)

Optimizer

In [66]:
from collections import defaultdict
opt = torch.optim.Adam(model.parameters(), lr=1e-2) # can add: weight_decay=
#lr_cosine = lr_scheduler.CosineAnnealingLR(opt,T_max = 350) #1000 ## if you want to add lr_cosine

lr = defaultdict(list)
tloss = defaultdict(list)
vloss = defaultdict(list)

In [47]:
class RegressionColumnarDataset(data.Dataset):
    def __init__(self, df, cats, y):
        self.dfcats = df[cats]
        self.dfconts = df.drop(cats, axis=1)
        
        self.cats = np.stack([c.values for n, c in self.dfcats.items()], axis=1).astype(np.int64)
        self.conts = np.stack([c.values for n, c in self.dfconts.items()], axis=1).astype(np.float32)
        self.y = y.values.astype(np.float32)
        
    def __len__(self): return len(self.y)

    def __getitem__(self, idx):
        return [self.cats[idx], self.conts[idx], self.y[idx]]
    
def rmse(targ, y_pred):
    return np.sqrt(mean_squared_error(inv_y(y_pred), inv_y(targ))) #.detach().numpy()

def emb_init(x):
    x = x.weight.data
    sc = 2/(x.size(1)+1)
    x.uniform_(-sc,sc)

class MixedInputModel(nn.Module):
    def __init__(self, emb_szs, n_cont, emb_drop, out_sz, szs, drops, y_range, use_bn=True):
        super().__init__()
        for i,(c,s) in enumerate(emb_szs): assert c > 1, f"cardinality must be >=2, got emb_szs[{i}]: ({c},{s})"
        self.embs = nn.ModuleList([nn.Embedding(c, s) for c,s in emb_szs])
        for emb in self.embs: emb_init(emb)
        n_emb = sum(e.embedding_dim for e in self.embs)
        self.n_emb, self.n_cont=n_emb, n_cont
        
        szs = [n_emb+n_cont] + szs
        self.lins = nn.ModuleList([nn.Linear(szs[i], szs[i+1]) for i in range(len(szs)-1)])
        self.bns = nn.ModuleList([nn.BatchNorm1d(sz) for sz in szs[1:]])
        for o in self.lins: nn.init.kaiming_normal_(o.weight.data)
        self.outp = nn.Linear(szs[-1], out_sz)
        nn.init.kaiming_normal_(self.outp.weight.data)

        self.emb_drop = nn.Dropout(emb_drop)
        self.drops = nn.ModuleList([nn.Dropout(drop) for drop in drops])
        self.bn = nn.BatchNorm1d(n_cont)
        self.use_bn,self.y_range = use_bn,y_range

    def forward(self, x_cat, x_cont):
        if self.n_emb != 0:
            x = [e(x_cat[:,i]) for i,e in enumerate(self.embs)]
            x = torch.cat(x, 1)
            x = self.emb_drop(x)
        if self.n_cont != 0:
            x2 = self.bn(x_cont)
            x = torch.cat([x, x2], 1) if self.n_emb != 0 else x2
        for l,d,b in zip(self.lins, self.drops, self.bns):
            x = F.relu(l(x))
            if self.use_bn: x = b(x)
            x = d(x)
        x = self.outp(x)
        if self.y_range:
            x = torch.sigmoid(x)
            x = x*(self.y_range[1] - self.y_range[0])
            x = x+self.y_range[0]
        return x.squeeze()

Train and Fit

In [67]:
def inv_y(y): return np.exp(y)

def rmse(targ, y_pred):
    return np.sqrt(mean_squared_error(inv_y(y_pred), inv_y(targ))) #.detach().numpy()
    

def rmse(targ, y_pred):
   return np.sqrt(mean_squared_error(y_pred, targ)) #.detach().numpy()


#def fit(model, train_dl, val_dl, loss_fn, opt, scheduler, epochs=3): ## if you want to add schedular
def fit(model, train_dl, val_dl, loss_fn, opt, epochs=3):
    num_batch = len(train_dl)
    for epoch in tnrange(epochs):      
        y_true_train = list()
        y_pred_train = list()
        total_loss_train = 0          
        
        t = tqdm_notebook(iter(train_dl), leave=False, total=num_batch)
        for cat, cont, y in t:
            cat = cat.cuda()
            cont = cont.cuda()
            y = y.cuda()
            
            t.set_description(f'Epoch {epoch}')
            
            opt.zero_grad() #find where the grads are zero
            pred = model(cat, cont)
            loss = loss_fn(pred, y)
            
            loss.backward() # do backprop
            lr[epoch].append(opt.param_groups[0]['lr'])
            tloss[epoch].append(loss.item())
            opt.step()
            #scheduler.step()
            
            
            t.set_postfix(loss=loss.item())
            
            y_true_train += list(y.cpu().data.numpy())
            y_pred_train += list(pred.cpu().data.numpy())
            total_loss_train += loss.item()
            
        train_acc = rmse(y_true_train, y_pred_train)
        train_loss = total_loss_train/len(train_dl) # len train_dl = 704. the calc is number of train examples (89991) / batch size (128)
        
        if val_dl:
            y_true_val = list()
            y_pred_val = list()
            total_loss_val = 0
            for cat, cont, y in tqdm_notebook(val_dl, leave=False):
                cat = cat.cuda()
                cont = cont.cuda()
                y = y.cuda()
                pred = model(cat, cont)
                loss = loss_fn(pred, y)
                
                y_true_val += list(y.cpu().data.numpy())
                y_pred_val += list(pred.cpu().data.numpy())
                total_loss_val += loss.item()
                vloss[epoch].append(loss.item())
            valacc = rmse(y_true_val, y_pred_val)
            valloss = total_loss_val/len(valdl)
            print(f'Epoch {epoch}: train_loss: {train_loss:.4f} train_rmse: {train_acc:.4f} | val_loss: {valloss:.4f} val_rmse: {valacc:.4f}')
        else:
            print(f'Epoch {epoch}: train_loss: {train_loss:.4f} train_rmse: {train_acc:.4f}')
    
    return lr, tloss, vloss

Train the Model

In [ ]:
#if you want to add lr_cosine
#lr, tloss, vloss = fit(model=model, train_dl=traindl, val_dl=valdl, loss_fn=nn.MSELoss(), opt=opt, scheduler=lr_cosine, epochs=10)


lr, tloss, vloss = fit(model=model, train_dl=traindl, val_dl=valdl, loss_fn=nn.MSELoss(), opt=opt,  epochs=10)